<% meta title: "List your service" %>

  <%= simple_form_for(@service) do |f| %>
    <% if @service.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% @service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <b>Title</b><br>
      <%= f.text_field :name, class: "form-control blue", :required => true %><hr>
    </div>

      <div class="field">
        <% if @service.image_url.blank? %>
          <%= image_tag("1/user_no_image.PNG", width: '60', height: '60', class: 'img-thumbnail') %>
        <% else %>
          <%= image_tag(@service.image_url(:thumb).to_s, width: '60', height: '60', class: 'img-thumbnail') %>
        <% end %>
        <b>Cover photo</b><br>
        <small>(min 200x200)</small><br><br>
        <%= f.file_field :image %>
      </div><hr> 

    <div class="field">
      <b>Description</b><br>
      <%= f.text_area :description, :class => "form-control blue", :rows => 10 %>
    </div><br>

    <div class="field">
      <b>Categories</b> (max <b>3</b>) 
      <small><mark>* separate by commas</mark></small><br><br>
      <%= f.text_field :tag_list, class: "form-control blue", placeholder: "e.g. construction, writing, tutoring" %>
    </div><br>
  
    <div class="field">
      <%= f.input :location, :input_html =>{:id => 'gmaps-input-address', class: "form-control blue", placeholder: "Anywhere"}, :required => true %><hr>      
    </div>
 
    <div class="row">
      <div class="col-xs-2">
        <b>Price:</b>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.number_field :price, class: "form-control short blue", :required => true %>
          <span class="input-group-addon">
            <%= f.select :per_temporal_id, PerTemporal.all.collect {|c| [ c.name, c.id ] } %>
          </span>
        </div>
      </div>
    </div><hr>

  <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="actions" align="right">
      <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Creating..." } %>
    </div>

<% end %>