<div class="row">
  
  <div class="col-xs-1"></div>  
  
    <div class="col-xs-5">
      <div style="padding-top:50px"></div>
      <div class="row">
        <div class="col-sm-6 left-home">
          <div class="feature-space"><span class="no-fee"></span><span class="feature-name">NO FEES</span></div><hr>
          <div class="feature-space"><span class="ver-users"></span> <span class="feature-name">VERIFIED USERS</span></div><hr>
          <div class="feature-space"><span class="low-price"></span> <span class="feature-name">LOWEST PRICES</span></div><hr>
        </div>
        <div class="col-sm-6 left-home">
          <div class="feature-space"><span class="any-pay"></span> <span class="feature-name">ANY PAYMENT</span></div><hr>
          <div class="feature-space"><span class="free-list"></span> <span class="feature-name">FREE LISTINGS</span></div><hr>
          <div class="feature-space"><span class="free-credit"></span> <span class="feature-name"> <b>+ 20</b> INCOINS</span></div><hr>
        </div>
      </div>
    </div>
  
  <div class="col-xs-5" align="center">
    <div style="padding-top:50px"></div>
    <p id="notice"><%= notice %></p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <% if resource.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
      <div>
        <%= f.text_field :name, autofocus: true, placeholder: "name", class: "form-control devise", :required => true %>
      </div><br>
      <div><%= f.email_field :email, placeholder: "email", class: "form-control devise", :required => true %></div><br>
      <div><%= f.password_field :password, placeholder: "password", class: "form-control devise", :required => true %></div><br>
      <div><%= f.hidden_field :sms_code, value: Random.rand(100000..999999) %></div>
      <%= image_tag('3/check_terms.png') %> I agree to <%= link_to "Terms & Privacy", terms_path %><br><br>
      <div><%= f.submit "Create my account", class: "btn btn-success", data: { disable_with: "Creating..." } %></div>
    <% end %>
  </div>
  
  <div class="col-xs-1"></div>
  
</div>

  <div class="row cats-not-signed" align="center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.email_field :email, placeholder: "email", class: "input-login" %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "password", class: "input-login" %>
    <%= f.submit "Login", class: "btn btn-sm btn-default" %>
    <% end %>
  </div>