<div class="row">
  
  <div class="col-xs-1"></div>  
  
    <div class="col-xs-5">
      <div style="padding-top:40px"></div>
      <div class="row">
        <div class="col-sm-6 left-home"><hr>
          <%= image_tag('1/no_fee.png') %> NO FEES<hr>
          <%= image_tag('1/verified.png') %> VERIFIED USERS<hr>
          <%= image_tag('1/low_price.png') %> LOWEST PRICES<hr>
        </div>
        <div class="col-sm-6 left-home"><hr>
          <%= image_tag('1/any_pay.png') %> ANY PAYMENT<hr>
          <%= image_tag('1/free_lis.png') %> FREE LISTINGS<hr>
          <%= image_tag('1/free_credit.png') %> <b>+ $10</b> <abbr title="After your first promotion">AD CREDIT</abbr><hr>
        </div>
      </div>
    </div>
  
  <div class="col-xs-5" align="center">
    <div style="padding-top:50px"></div>
    <p id="notice"><%= notice %></p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <% if resource.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
      <div>
        <%= f.text_field :name, autofocus: true, placeholder: "name", class: "form-control devise", :required => true %>
      </div><br>
      <div><%= f.email_field :email, placeholder: "email", class: "form-control devise", :required => true %></div><br>
      <div><%= f.password_field :password, placeholder: "password", class: "form-control devise", :required => true %></div><br>
      <%= image_tag('3/check_terms.png') %> I agree to <%= link_to "Terms & Privacy", terms_path %><br><br>
      <div><%= f.submit "Create my account", class: "btn btn-default", data: { disable_with: "Creating..." } %></div>
    <% end %>
  </div>
  
  <div class="col-xs-1"></div>
  
</div>

  <div class="row cats-not-signed" align="center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.email_field :email, placeholder: "email", class: "input-login" %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "password", class: "input-login" %>
    <%= f.submit "Login", class: "btn btn-sm btn-default" %>
    <% end %>
  </div>