<% meta title: "Welcome!" %>

<div class="row">

  <div class="col-xs-3"></div>

  <div class="col-xs-6">
    <hr>
        <div class="row">
          <div class="col-xs-2">
              <%= image_tag("1/user_no_image.PNG", width: '50', class: 'img-thumbnail') %><br>
            <small><%= link_to "Admin", first_message_path %></small>
          </div>
          <div class="col-xs-8">
            <mark>Inbox is used to...</mark><br><br>
            <div id="inbox-to-do">
              <%= image_tag('2/blue_message.png') %> 1. communicate with buyers/sellers<br><br>
              <%= image_tag('2/buy_request.png') %> 2. send <b>buy request</b> (buyer)<br><br>
              <%= image_tag('2/has_order.png') %> 3. confirm <b>order</b> (seller)<br><br>
              <%= image_tag('2/finished_order.png') %> 4. leave a feedback  
            </div>
          </div>
          <div class="col-xs-2">
            <div class="time-last-message">Just now!</div>
          </div>
        </div>      
    <hr>
  </div>
  
  <div class="col-xs-3"></div>
  
</div>