<%
  meta title: "Inrevi - Free Market",
description: "Inrevi is a global marketplace. No fees. No limitations.",
keywords: %w(inrevi marketplace free)
%>

<% if user_signed_in? %>
<div class="main-nf">
  <%= render 'shared/upper_newsfeed' %>    
      <div class="newsfeed">
        <% if @activities.blank? %>
        <% @pactivities.each do |activity| %>
          <div class="activity">
            <%= render_activity activity %>
          </div>
        <% end %>
        <div class="digg_pagination">
          <%= will_paginate @pactivities, :page_links => false %>
        </div>
        <% else %>
        <% @activities.each do |activity| %>
          <div class="activity">
            <%= render_activity activity %>
          </div>
        <% end %>
        <div class="digg_pagination">
          <%= will_paginate @activities, :page_links => false %>
        </div>        
        <% end %>
      </div>
</div>
<% else %>
  <%= render 'landing_page' %>
<% end %>