<% meta title: "Inrevi - Free Market" %>

<% if user_signed_in? %>
<br>
  <div class="row">
    <div class="col-xs-6" align="center">
      <%= link_to image_tag('m/productz.png'), offers_path %><br>
      <b><%= link_to "Products", offers_path %></b>
    </div>
    <div class="col-xs-6" align="center">
      <%= link_to image_tag('m/servicez.png'), services_path %><br>
      <b><%= link_to "Services", services_path %></b>
    </div>
  </div><hr>
  <div class="row">
    <div class="col-xs-6" align="center">
      <%= link_to image_tag('m/jobz.png'), works_path %><br>
      <b><%= link_to "Jobs", works_path %></b>
    </div>
    <div class="col-xs-6" align="center">
      <%= link_to image_tag('m/rentz.png'), rents_path %><br>
      <b><%= link_to "Rent", rents_path %></b>
    </div>
  </div><hr>
<% else %>
  <div class="row">
    <div class="col-xs-6"><%= link_to "Sign Up", "/users/sign_up", class: 'btn btn-lg btn-primary' %></div>
    <div class="col-xs-6" align="right"><%= link_to "Log In", "/users/sign_in", class: 'btn btn-lg btn-default' %></div>
  </div>
  <div id="mobile-feature-list"><hr>
    <div align="center"><b>FREE MARKET</b></div><hr>
    <%= image_tag('1/no_fee.png') %> NO FEES<hr>
    <%= image_tag('1/no_fee.png') %> NO LIMITATIONS<hr>
    <%= image_tag('1/free_credit.png') %> <b>+ $10</b> <abbr title="After your first promotion">AD CREDIT</abbr><hr>
  </div>
<% end %>