<% meta title: "How it Works",
description: "Inrevi is a global marketplace. No fees. No limitations.",
keywords: %w(inrevi marketplace digital)
%>

<div class="row">

  <div class="col-xs-1"></div>
  
  <div class="col-xs-4">
    <mark>SELLER</mark><hr>
    <div class="how-user-points">
      <%= image_tag('2/add_offer.png') %> 1. List it <br><br>
      <span style="padding-right:20px"></span><%= image_tag('2/contact_buyers.png') %> 2. Communicate with buyers<br><br>
      <span style="padding-right:40px"></span><%= image_tag('2/complete_order.png') %> 3. Confirm orders<br><br>
      <span style="padding-right:60px"></span><%= image_tag('2/post_feedback.png') %> 4. Post a feedback<br><br>  
    </div>
  </div>
  
  <div class="col-xs-2"></div>
  
  <div class="col-xs-4">
    <mark>BUYER</mark><hr>
    <div class="how-user-points">
      <%= image_tag('2/find_offer.png') %> 1. Find it <br><br>
      <span style="padding-right:20px"></span><%= image_tag('2/contact_seller.png') %> 2. Contact the seller<br><br>
      <span style="padding-right:40px"></span><%= image_tag('2/submit_buy.png') %> 3. Request it<br><br>
      <span style="padding-right:60px"></span><%= image_tag('2/post_feedback.png') %> 4. Post a feedback<br><br>
    </div>
  </div>
  
  <div class="col-xs-1"></div>
  
</div>

<hr>

    <div class="how-general">
      <%= image_tag('3/pay_users.png') %> Payment and delivery are handled between users.
    </div>