<% meta title: "Invite. Free ad credit" %>

<div class="main-nf">
  <%= render 'shared/upper_newsfeed' %>    
    <div class="newsfeed">
      <div class="invite-step">
        <%= image_tag('4/invite.png') %> 
        <b><%= link_to "INVITE", "/users/invitation/new" %></b> friends, business partners or ex-customers
      </div>
      <div class="invite-step"><%= image_tag('4/endorse.png') %> They endorse you</div>
      <div class="invite-step"><%= image_tag('4/get_credit.png') %> You both get free <b>$1</b> ad credit</div>
    </div>
</div>