<% meta title: "Verify" %>

<div class="row">
  
  <div class="col-xs-4"></div>
  
  <div class="col-xs-4">
    
    <h5><mark>Please verify yourself. It only takes 2 minutes</mark></h5>

<% if current_user.confirmed_at.blank? %>  

    <hr> 

      <div class="progress">
        <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%">
          <span class="sr-only">33% Complete</span>
        </div>
      </div>

      <%= image_tag('1/arroba2.png') %> Step <b>1</b> of 2

      <br><br>Check your email first<hr>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.hidden_field :email, autofocus: true, :value => current_user.email %>
      <i>Didn't receive it yet?</i> <%= f.submit "Resend email", data: { disable_with: "email sent" }, class: "btn btn-success" %>
      <% end %>
    
    <hr>

  <% elsif current_user.confirmed_at.present? && current_user.user_identifications.count != 1 && current_user.phone_codes.count != 1 %> 

    <hr>

      <div class="progress">
        <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%">
          <span class="sr-only">66% Complete</span>
        </div>
      </div>

      <%= image_tag('1/call10.png') %> Step <b>2</b> of 2

      <br><br>

    <%= link_to "Confirm phone", 'phone_verifications/new' , class: "btn btn-success" %>

    <hr>
    
    <% end %>
 </div>
    
<div class="col-xs-4"></div>
    
</div>