<% if activity.trackable %>
  <% if activity.trackable.deleted %>
    <div class="row removed">
  <% else %>
    <div class="row">
  <% end %>
    <div class="col-xs-2">
      <% if activity.owner.image_url.blank? %>
          <%= link_to image_tag("1/user_no_image.PNG", width: '80'), user_path(activity.owner) %>
        <% else %>
          <%= link_to image_tag(activity.owner.image_url(:thumb).to_s, width: '80'), user_path(activity.owner) %>
      <% end %>
    </div>
    <div class="col-xs-10">
      <b><%= link_to activity.owner.name, user_path(activity.owner) %></b> 
      <% if activity.trackable.sell %>
        listed a product for sale 
      <% else %>
        requested a product
      <% end %>
      <span class="image-news-story"><%= image_tag('m/add_product.png') %></span>

      <div class="row product-short">
        <div class="col-xs-4">
        <% if activity.trackable.image_url.blank? %>
            <%= link_to image_tag("1/user_no_image.PNG", width: '150'), activity.trackable %>
          <% else %>
            <%= link_to image_tag(activity.trackable.image_url(:thumb).to_s, width: '150'), activity.trackable %>
        <% end %>
        </div>
        <div class="col-xs-8">
            <%= link_to activity.trackable.name, activity.trackable %>
        </div>
      </div>
      <span class="story-created">
        <% if current_user == activity.owner %>
        <b><%= link_to "Promote", promotion_offer_path(activity.trackable) %></b> / 
        <%= link_to "Edit", edit_offer_path(activity.trackable) %> /  
        <%= link_to "Images", imaging_offer_path(activity.trackable) %> / 
          <% if activity.trackable.deleted %>
            <%= link_to "Unsuspend", remove_offer_path(activity.trackable) %> / 
          <% else %>
            <%= link_to "Suspend", remove_offer_path(activity.trackable) %> / 
          <% end %>
        <% end %>
      </span>
    </div>
  </div><hr>
<% end %>