        <%= form_for [@promotable, @promoted_offer] do |f| %>
          <% if @promoted_offer.errors.any? %>
              <div id="error_explanation">
                <ul>
                <% @promoted_offer.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

          <%= f.hidden_field :user_id, value: current_user.id %>
          How many clicks do you want? <br>
          <%= f.number_field :set_clicks %><br><br>

            <%= f.submit "Promote it", class: 'btn btn-warning' %>

        <% end %>