  <% if activity.trackable %>
<div class="row">
  <div class="col-xs-2">
    <% if activity.owner.image_url.blank? %>
        <%= link_to image_tag("1/user_no_image.PNG", width: '80'), user_path(activity.owner) %>
      <% else %>
        <%= link_to image_tag(activity.owner.image_url(:thumb).to_s, width: '80'), user_path(activity.owner) %>
    <% end %>
  </div>
  <div class="col-xs-10">
    <b><%= link_to activity.owner.name, user_path(activity.owner) %></b> listed a service
    <span class="image-news-story"><%= image_tag('1/blue_service.png') %></span>
    
    <div class="row product-short">
      <div class="col-xs-4">
      <% if activity.trackable.image_url.blank? %>
          <%= link_to image_tag("1/user_no_image.PNG", width: '150'), activity.trackable %>
        <% else %>
          <%= link_to image_tag(activity.trackable.image_url(:thumb).to_s, width: '150'), activity.trackable %>
      <% end %>
      </div>
      <div class="col-xs-8">
          <%= link_to activity.trackable.name, activity.trackable %>
      </div>
    </div>
    <span class="story-created"><%= time_ago_in_words(activity.trackable.created_at) %> ago</span>
  </div>
</div><hr>
  <% end %>