<div class="row">

  <div class="col-xs-3"></div>

  <div class="col-xs-6">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @conversations.each do |conversation| %>
          <tr>
            <td>

                  <div class="row">
                    <div class="col-xs-2">
                      <% conversation.messages.last(1).each do |message| %>
                      <% if message.sender.image_url.blank? %>
                          <%= image_tag("1/user_no_image.PNG", width: '50', class: 'img-thumbnail') %>
                        <% else %>
                      <%= image_tag(message.sender.image_url(:thumb).to_s, width: '50', class: 'img-thumbnail') %>
                        <% end %><br>
                        <small>
                          <%= link_to truncate(message.sender.name, length: 12), user_path(message.sender) %>
                        </small>
                      <% end %>
                    </div>
                    <div class="col-xs-8">
                      <% if (conversation.buy_requests_count > 0) && (conversation.orders_count < 1) %>
                        <%= image_tag('2/buy_request.png') %>
                      <% end %>
                      <% if conversation.orders_count > 0 && conversation.reviews_count <= 1 %>
                        <%= image_tag('2/has_order.png') %>
                      <% end %>
                      <% if conversation.orders_count > 0 && conversation.reviews_count == 2 %>
                        <%= image_tag('2/finished_order.png') %>
                      <% end %>
                      <strong><%= link_to conversation.offer.name, conversation %></strong><br>
                      <% conversation.messages.last(1).each do |message| %>
                        <i><%= truncate(message.body, length: 100) %></i>
                      <% end %>
                    </div>
                    <div class="col-xs-2">
                      <div class="time-last-message"><%= time_ago_in_words(conversation.content_changed_at) %></div>
                    </div>
                  </div>
              
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
      <div class="digg_pagination">
         <%= will_paginate @conversations, :page_links => false %>
      </div>
    
  </div>

  <div class="col-xs-3"></div>
  
</div>