<% meta title: "Inrevi - Conversation" %>

<div class="main-nf">  
  <%= render 'shared/upper_newsfeed' %>      
<div class="newsfeed">     
    <div class="row">
      
      <div class="col-xs-3">
        <%= link_to image_tag(@conversation.convoable.image_url(:thumb).to_s, width: '100', class: 'img-circle'), "/#{@conversation.convoable_type.downcase.pluralize}/#{@conversation.convoable_id}" %>
      </div>
        <div class="col-xs-4" align="left">
           <strong><%= link_to @conversation.convoable.name, "/#{@conversation.convoable_type.downcase.pluralize}/#{@conversation.convoable_id}" %></strong>
        </div>
      
      <div class="col-xs-5">
        <% if user_can_send_buy_request %> 
        <%= link_to "Request it",  requestz_conversation_path(@conversation), class: 'btn btn-warning', data: { disable_with: "Sending..." } %>
       <% end %>

        <% if user_can_accept_offer %>
           <kbd>User requested your offer.</kbd><br><br>
        <%= link_to "Accept",  confirm_order_conversation_path(@conversation), class: 'btn btn-warning', data: { disable_with: "Sending..." } %>
        <% end %>
        
        <% if @conversation.confirm == true && @conversation.reviews_count == 0 %>
          <%= link_to "Post Your Feedback", new_conversation_review_path(@conversation.id), class: 'btn btn-danger' %><br><br>
        <% end %>
        <% if @conversation.confirm == true && @conversation.reviews_count == 1 %>
            <% @conversation.reviews.first(1).each do |review| %>
              <% unless current_user.id == review.buyer_id %>
            <%= link_to "Post Your Feedback", new_conversation_review_path(@conversation.id), class: 'btn btn-danger' %><br><br>
              <% end %>
            <% end %>
        <% end %>
        
        <% if @conversation.reviews_count > 0 %>
          <% @conversation.reviews.each do |review| %>
            <%= image_tag('2/writerevicon.png') %> 
            <%= link_to review.buyer.name, conversation_review_path(review.conversation, review) %><br><br>
          <% end %>
        <% end %>
        
      </div>
      
    </div>
    <hr>

    <% unless @conversation.messages_count > 0 %>
    <div class="row">
      <div class="col-xs-8">
        <div id="seller-cntact-warning">
          * Suggestion - Ask the seller about:<br><br>
          - payment method<br>
          - delivery method<br>
          - more details about the offer<br>
          - other proofs...<br><br>
        </div>
      </div>
      <div class="col-xs-4" align="right">
        <%= link_to 'Cancel', @conversation, method: :delete, class: 'btn btn-default' %>
      </div>
    </div>
      <hr>
    <% end %>
    
      <% @messages.each do |message| %>
        <div class="row">
          <div class="col-xs-2">
            <% if message.sender.image_url.blank? %>
                <%= image_tag("1/user_no_image.PNG", width: '50', class: 'img-thumbnail') %>
            <% else %>
            <%= image_tag(message.sender.image_url(:thumb).to_s, width: '50', class: 'img-thumbnail') %>
            <% end %><br>
            <small><%= link_to truncate(message.sender.name, length: 12), user_path(message.sender) %></small>
          </div>
          <div class="col-xs-8"><%= auto_link(simple_format(message.body), :html => { :target => "_blank" }) %></div>
          <div class="col-xs-2"><div class="time-last-message"><%= time_ago_in_words(message.created_at) %></div></div>
        </div>
      <hr>
      <% end %>
      <div class="digg_pagination">
        <%= will_paginate @messages, :page_links => false %>
      </div>

    <%= form_for([@conversation, @conversation.messages.build]) do |f| %>

      <% if current_user.id == @conversation.user_id %>
        <%= f.hidden_field :sender_id, value: @conversation.user_id %>
        <%= f.hidden_field :recipient_id, value: @conversation.recipient_id %>
      <% elsif current_user.id == @conversation.recipient_id %>
        <%= f.hidden_field :sender_id, value: @conversation.recipient_id %>
        <%= f.hidden_field :recipient_id, value: @conversation.user_id %>
      <% end %>
        <%= f.hidden_field :conversation_id %>

    <div class="field">
      <%= f.text_area :body, class: 'form-control', placeholder: 'Type something here...', :onfocus => "this.placeholder = ''" %>
    </div>
      <div class="actions" align="right">
        <%= f.submit "Send", class: 'btn btn-primary', data: { disable_with: "Sending..." } %>
      </div>
    <% end %>
  </div>
</div>
