<%= tinymce_assets %>
<%= tinymce :plugins => ["colorpicker", "image", "table", "textcolor", "media", "link", "importcss", "autosave"] %>

<% meta title: "Post a Job" %>

  <%= simple_form_for(@work) do |f| %>
    <% if @work.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% @work.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <b>Title</b><br>
      <%= f.text_field :name, class: "form-control orange", :required => true %><hr>
    </div>

    <div class="field">
        <% if @work.image_url.blank? %>
          <%= image_tag("1/user_no_image.PNG", width: '60', height: '60', class: 'img-thumbnail') %>
        <% else %>
          <%= image_tag(@work.image_url(:thumb).to_s, width: '60', height: '60', class: 'img-thumbnail') %>
        <% end %>
        <b><small>Cover photo (optional)</small></b><br>
        <%= f.file_field :image %>
    </div><hr> 

    <div class="field">
      <b>Description</b><br>
      <%= f.text_area :description, :class => "tinymce", :rows => 10, :cols => 120 %>
    </div><hr>

    <div class="field">
      <b>Skills</b> (max <b>10</b>) 
      <small><mark>* separate by commas</mark></small><br><br>
      <%= f.text_field :tag_list, class: "form-control orange", placeholder: "e.g. finance, italian language" %>
    </div><hr>
  
    <div class="field">
      <%= f.input :location, :input_html =>{:id => 'gmaps-input-address', class: "form-control orange", placeholder: "Anywhere"}, :required => true %><br>      
    </div><hr>
 
    <div class="row">
      <div class="col-xs-2">
        <b>Pay:</b>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.number_field :price, class: "form-control short orange" %>
          <span class="input-group-addon">
            <%= f.select :per_temporal_id, PerTemporal.all.collect {|c| [ c.name, c.id ] } %>
          </span>
        </div>
      </div> 
    </div><hr>
    <div class="row">
      <div class="col-xs-2">
        <b>For How Long?</b>
        <div class="input-group">
          <%= f.number_field :quantity, class: "form-control short orange", :required => true %>
          <span class="input-group-addon">
            <%= f.select :temporal_id, Temporal.all.collect {|c| [ c.name, c.id ] } %>
          </span>
        </div>
      </div>
    </div><hr>

      <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="actions" align="right">
      <%= f.submit "Submit", class: "btn btn-warning", data: { disable_with: "Creating..." } %>
    </div> <hr>

<% end %>