<% meta title: "Post a Job" %>

<div class="row">
  
<div class="col-xs-1"></div>
  
<div class="col-xs-8">
  <%= simple_form_for(@job) do |f| %>
    <% if @job.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% @job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <b>Title</b><br>
      <%= f.text_field :name, class: "form-control orange", :required => true %><br>
    </div>

    <div class="field">
      <b>Description</b><br><br>
      <%= f.text_area :description, id: "some-textarea-orange", class: 'wysihtml5' %>
    </div><br>

    <script type="text/javascript">
      $(document).ready(function(){

        $('.wysihtml5').each(function(i, elem) {
          $(elem).wysihtml5();
        });

      })
    </script>

    <div class="field">
      <b>Skills</b> (max <b>10</b>) 
      <small><mark>* separate by commas</mark></small><br><br>
      <%= f.text_field :tag_list, class: "form-control orange", placeholder: "e.g. construction, writing, tutoring" %>
    </div><br>
  
    <div class="field">
      <%= f.input :location, :input_html =>{:id => 'gmaps-input-address', class: "form-control orange", placeholder: "Anywhere"}, :required => true %>      
    </div>

      <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="actions" align="right">
      <%= f.submit "Submit", class: "btn btn-warning", data: { disable_with: "Creating..." } %>
    </div> <hr>
</div>
  
  <div class="col-xs-2"><hr>
    <div class="field">
        <% if @job.image_url.blank? %>
          <%= image_tag("1/user_no_image.PNG", width: '60', height: '60', class: 'img-thumbnail') %>
        <% else %>
          <%= image_tag(@job.image_url(:thumb).to_s, width: '60', height: '60', class: 'img-thumbnail') %>
        <% end %>
        <b>Cover photo</b><br>
        <small>(min 200x200)</small><br><br>
        <%= f.file_field :image %>
      </div><hr>  
      <div class="field"> 
        <%= f.check_box :deleted %> Delete
    </div>
  </div>

<% end %>
  
</div>