<h1>Listing buy_requests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Conversation</th>
      <th>Offer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buy_requests.each do |buy_request| %>
      <tr>
        <td><%= buy_request.user %></td>
        <td><%= buy_request.conversation %></td>
        <td><%= buy_request.offer %></td>
        <td><%= link_to 'Show', buy_request %></td>
        <td><%= link_to 'Edit', edit_buy_request_path(buy_request) %></td>
        <td><%= link_to 'Destroy', buy_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Buy request', new_buy_request_path %>
