<% meta title: "Edit Your Profile" %>

<div class="col-xs-3"></div>

<div class="col-xs-6">
<%= form_for :user, url: user_path(@user), method: :patch do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

    <% if @user.image_url.blank? %>
      <%= image_tag("1/user_no_image.PNG", width: '60', height: '60', class: 'img-thumbnail') %>
    <% else %>
      <%= image_tag(@user.image_url(:thumb).to_s, width: '60', height: '60', class: 'img-thumbnail') %>
    <% end %>
    Change image:<br><br>
    <%= f.file_field :image %><hr>
    About me:<br>
  <%= f.text_field :bio, placeholder: "e.g. Web Developer", class: "form-control devise" %><br>
      Location:
    <%= f.text_field :public_location, placeholder: "e.g. San Francisco", class: "form-control devise" %><br>
      First Language<br>
    <%= f.select :language, collection: LanguageList::COMMON_LANGUAGES.map{|l| [l.name, l.iso_639_1]} %><br><br>
      Second Language<br>
    <%= f.select :second_language, collection: LanguageList::COMMON_LANGUAGES.map{|l| [l.name, l.iso_639_1]} %>


  <% if current_user.admin %>
    <%= f.text_field :name %><br>
    <%= f.text_field :email %><br>
    <%= f.text_field :credit %><br>
    <%= f.check_box :banned %>
  <% end %>

    <br><br>
    <%= f.submit "Update", class: "btn btn-primary" %>

<% end %>
</div>

<div class="col-xs-3"></div>