<% meta title: "Profile" %>

<div class="row">
  
  <div class="col-xs-1"></div>

  <div class="col-xs-2">
    
    <% if user_signed_in? && current_user.admin %>
      <% if @user.banned %>
        <%= link_to "Unban!", banning_user_path(@user), class: 'btn btn-success', data: { disable_with: "Unbanning" } %>    
      <% else %>
        <%= link_to "Ban!", banning_user_path(@user), class: 'btn btn-danger', data: { disable_with: "Banning" } %>
      <% end %>
    <% end %>
    
    <%= render 'follow_form' if user_signed_in? %>
    
      <% if @user.image_url.blank? %>
        <%= image_tag("1/user_no_image.PNG", class: 'img-thumbnail') %>
      <% else %>
        <%= image_tag(@user.image_url(:thumb).to_s, class: 'img-thumbnail') %>
      <% end %><br><br>

    <% if user_signed_in? && user_is_verified? %>
        <%= image_tag('3/p_verified.png') %>
    <% end %>
    
      <span class="user-profile-name"><%= @user.name %></span><br><hr>

        <%= image_tag('2/thumbsup_off.PNG') %>
          <b><%= @positive_reviews.count %></b> | 
        <%= image_tag('2/thumbsdown_off.PNG') %>
          <b><%= @negative_reviews.count %></b> <hr>

      <%= image_tag('2/green_dot.gif') %> 
      <span class="time-last-message"><b><%= time_ago_in_words(@user.last_seen_at) %></b> ago</span><br><br>
      <div id="user-settings-info">
        <%= image_tag('1/clock40.png') %>Joined: <b><%= time_ago_in_words(@user.created_at) %></b> ago<br>
        <% if @user.public_location.present? %>
          <%= image_tag('1/user_location.png') %><%= @user.public_location %><br>
        <% end %>
        <% if @user.bio.present? %>
          <%= image_tag('2/user_bio.png') %>
          <%= @user.bio %>
        <% end %>
      </div><hr> 
    
    <%= render 'shared/follow_stats' %><hr>
    
    <% if current_user?(@user) %>
      <%= image_tag('2/user_settings.png') %><%= link_to "Settings", edit_user_path(@user) %>
    <% end %>
  
  </div>

  <div class="col-xs-6">
    
    <div class="newsfeed">
      <% unless @activities.blank? %>
        <% @activities.each do |activity| %>
          <div class="activity">
            <%= render_activity activity %>
          </div>
        <% end %>
      <% else %>
      <div id="just-joined"><b>Joined:</b> <%= time_ago_in_words(@user.created_at) %> ago</div>
      <% end %>
    </div>

        <div class="digg_pagination">
           <%= will_paginate @activities, :page_links => false %>
        </div>
  </div>
  
  <div class="col-xs-3">
    <% unless current_user?(@user) %>
      <%= link_to "Endorse", new_user_endorsement_path(@user), class: 'btn btn-lg btn-success' %><hr>
    <% end %>
    <% @endorsements.each do |endorsement| %>
      <div class="row">     
          <b><%= link_to endorsement.writer.name, user_path(endorsement.writer) %></b>
          <%= endorsement.body %>
      </div>
      <div class="time-last-message"><%= time_ago_in_words(endorsement.created_at) %> ago</div><hr>
      <% end %>
    
      <div class="digg_pagination">
        <%= will_paginate @endorsements, :page_links => false %>
      </div>
  </div>
  
</div>