<div class="rent-main-bar">
  <div class="row">
    <div class="col-xs-4" style="padding-top:5px">
      <b><%= link_to "* Rent Out", new_rent_path(:sell => '1') %></b><br>
      <b><%= link_to "* Request to Rent", new_rent_path(:sell => '0') %></b>
    </div>
    <div class="col-xs-8" style="padding-top:5px">
    <div class="input-group">
      <%= form_tag rentz_search_path, :method => :get do %>
      <%= text_field_tag :search, params[:search], :placeholder => "e.g. Vacation Rental in Berlin" , class: "form-control search" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    </div>
    </div>
  </div>
</div>