<div align="center"><p id="notice"><%= notice %></p></div>
  
    <% if current_user.confirmed_at.blank? %>
        <div class="alert alert-warning nf" role="alert">
           Please check and confirm your <b>email</b>.
          <span><i>Didn't receive it yet?</i> <%= link_to "Resend email", '/users/confirmation' %></span>
        </div>
    <% elsif current_user.confirmed_at.present? && current_user.phone_verifications.count == 0 %>
        <div class="alert alert-warning nf" role="alert">
          One more step - Confirm your <b>phone number</b>. <%= link_to "Click here", 'phone_verifications/new' %>
        </div>
    <% elsif current_user.phone_verifications.count > 0 && current_user.confirm_code.blank? %>
        <div class="alert alert-warning nf" role="alert">
          You need to type in code. <%= link_to "Click here", real_code_user_path(current_user) %>
        </div>
    <% elsif current_user.confirm_code.present? && (current_user.sms_code.to_i != current_user.confirm_code.to_i) %>
        <div class="alert alert-warning nf" role="alert">
          You need to type in a correct code. <%= link_to "Click here", real_code_user_path(current_user) %>
        </div>
    <% else %>
        <div class="alert alert-info nf" role="alert">
          Get endorsements and free ad credit. <%= link_to "Click here", invite_path %>
        </div>
    <% end %>