<div class="row">
  
  <div class="col-xs-2"></div>
  
  <div class="col-xs-4">
    <div class="panel panel-warning"> 
      - <b><%= @order.buyer.name %></b> (buyer)
      <div class="panel-body">
        
        <% if current_user.id == @order.buyer_id %>
          <%= link_to "Create a review", new_order_review_path(@order.id), class: 'btn btn-primary' %>
        <% end %>
        
        <%= @reviews %>
        
      </div>
    </div>
  </div> 
  
  <div class="col-xs-4">
    <div class="panel panel-info"> 
      - <b><%= @order.seller.name %></b> (seller)
      <div class="panel-body">
        
        <% if current_user.id == @order.seller_id %>
          <%= link_to "Create a review", new_order_review_path(@order.id), class: 'btn btn-primary' %>
        <% end %> 
        
        <%= @reviews %>

      </div>
    </div>
  </div>
  
  <div class="col-xs-2"></div>
  
</div>