<%= form_for(@phone_code) do |f| %>
  <% if @phone_code.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @phone_code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code, class: "form-control devise", :required => true %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
