<h1>Listing phone_codes</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phone_codes.each do |phone_code| %>
      <tr>
        <td><%= phone_code.code %></td>
        <td><%= phone_code.user %></td>
        <td><%= link_to 'Show', phone_code %></td>
        <td><%= link_to 'Edit', edit_phone_code_path(phone_code) %></td>
        <td><%= link_to 'Destroy', phone_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phone code', new_phone_code_path %>
