<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @phone_code.code %>
</p>

<p>
  <strong>User:</strong>
  <%= @phone_code.user %>
</p>

<%= link_to 'Edit', edit_phone_code_path(@phone_code) %> |
<%= link_to 'Back', phone_codes_path %>
