<% meta title: "Sign In" %>

<div align="center">
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div><%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "email" %></div><br>
    <div><%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "password" %></div><br>

    <div><%= f.submit "Sign in", class: "btn btn-primary" %></div><br>
  
    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me, :checked => true %> <%= f.label :remember_me %></div>
    <% end -%>

  <% end %>

  <br><%= render "devise/shared/links" %>

</div>