<%= form_for(@user_identification) do |f| %>
  <% if @user_identification.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user_identification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= image_tag('1/secure_verification.png') %> <kbd>Secure & Encrypted</kbd><hr>

<div class="row">
  
  <div class="col-xs-4">
    <mark>PART 1</mark><hr>
    <b>Official ID document</b><br><small>(e.g. passport / driver's license)</small><br>
    <%= image_tag('1/id_sample_card.png') %><small>example</small><br><br>
    <i>Upload your scanned image below</i><br><br>
      <%= f.file_field :id_photo %>
    
  </div>

  <div class="col-xs-3">
    <mark>PART 2</mark><hr>
    <div class="field">
      <b>Your real photo</b><br>      
      <i>* front-facing</i><br>
      <%= image_tag('1/rsz_real_photo_sample.png') %><small>example</small><br><br>
      <%= f.file_field :recent_photo %>
    </div>
  </div>
  
  <div class="col-xs-5">
    <mark>PART 3</mark><hr>
    <div class="field">
      <%= f.label :real_name %><br>
      <%= f.text_field :real_name, class: "form-control devise", :required => true %>
    </div>
    <div class="field">
      <%= f.label :address %><br>
      <%= f.text_field :address, class: "form-control devise", :required => true %>
    </div>
    <div class="field">
      <%= f.label :city %><br>
      <%= f.text_field :city, class: "form-control devise", :required => true %>
    </div>
    <div class="field">
      <%= f.label :zip_code %>
      <%= f.text_field :zip_code, placeholder: "zip code", class: "form-control short" %>
    </div>
    <div class="field">
      <%= f.label :country %>
      <%= f.country_select :country %>
    </div>

    <%= f.hidden_field :user_id, value: current_user.id %><hr>

    <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Uploading..." }  %>
    
  </div>
  
</div>

<% end %>
