<%= link_to "Edit", edit_user_identification_path() %> | 
<%= link_to 'Destroy', user_identification_path(),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
<hr>
    <div class="field"><br>
      <%= @user_identification.real_name %>
    </div>
    <div class="field"><br>
      <%= @user_identification.address %>
    </div>
    <div class="field"><br>
      <%= @user_identification.city %>
    </div>
    <div class="field">
      <%= @user_identification.zip_code %>
    </div>
    <div class="field">
      <%= @user_identification.country %>
    </div>

    <%= link_to @user_identification.user.name, user_path(@user_identification.user.id) %><hr>

    <%= image_tag(@user_identification.id_photo, width: '100%') %><hr>   
    <%= image_tag(@user_identification.recent_photo, width: '100%') %>

