<div class="product-main-bar">
  <div class="row">
    <div class="col-xs-4" style="padding-top:5px">
      <b><%= link_to "* List your product", new_offer_path(:sell => '1') %></b><br>
      <b><%= link_to "* Request a product", new_offer_path(:sell => '0') %></b>
    </div>
    <div class="col-xs-8" style="padding-top:5px">
      <div class="input-group">
        <%= form_tag offerz_search_path, :method => :get do %>
        <%= text_field_tag :search, params[:search], :placeholder => "e.g. iPhone in Canada" , class: "form-control search" %>
        <%= submit_tag "Search", class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>