<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Provider</th>
      <th>Categories</th>
      <th>Created</th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= link_to offer.name, offer %></td>
        <td>$ <%= offer.price %></td>
        <td><%= link_to offer.user.name, user_path(offer.user.id) %></td>
        <td><%= raw offer.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></td>
        <td><%= time_ago_in_words(offer.created_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>

      <div class="digg_pagination">
        <%= will_paginate @offers, :page_links => false %>
      </div>

<br>