<% if @offers.blank? %>
  No results!
<% else %>
  <% @offers.published.each do |offer| %>
    <div class="col-sm-6 col-md-3 offer">
      <div class="thumbnail">
        <%= link_to image_tag(offer.image_url(:thumb).to_s, height: '200'), offer %>
        <div class="caption">
         <%= link_to truncate(offer.name, length: 50), offer %><hr>
         <%= image_tag('2/thumbsup_off.PNG') %> <b><%= offer.reviews.positive.where("buyer_id != ?", offer.user.id).count %></b> | 
          <%= image_tag('2/thumbsdown_off.PNG') %> <b><%= offer.reviews.negative.where("buyer_id != ?", offer.user.id).count %></b>
         <span class="offer-price-box"><mark>$<%= offer.price %></mark></span>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="digg_pagination">
  <%= will_paginate @offers, :page_links => false %>
</div>