<%
meta title: "#{@offer.name}",
description: "Inrevi is a global marketplace. Buy and sell digital products and services.",
keywords: %w(inrevi marketplace digital)
%>

<div class="row">
  
 <p id="notice"><%= notice %></p>
  <div class="col-xs-3">

    <% if current_user == @offer.user %> 
    
          <small>Promote your offer on home page for <b>2</b> days.</small><br><br>

        <%= form_for([@offer, @offer.promoted_offers.build]) do |f| %>

          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :offer_id, value: @offer.id %>

            <span class="badge alert-warning">50</span>
            <%= f.submit "Promote it", class: 'btn btn-warning' %>

        <% end %><hr>
    
    <% end %>
    
    <% if current_user == @offer.user %>
      <%= link_to "Edit", edit_offer_path(@offer), class: 'btn btn-sm btn-success' %><hr>
    <% end %>
    
    <%= image_tag('2/thumbsup_off.PNG') %>
      <b><%= @positive_reviews.count %></b> | 
    <%= image_tag('2/thumbsdown_off.PNG') %>
      <b><%= @negative_reviews.count %></b> 
    
    <span id="offer-price">
      $ <%= @offer.price %>
    </span> <hr>
    
    <% @reviews.each do |review| %>
      <% if review.positive == true %>
        <%= image_tag('2/thumbsup_off.PNG') %>
      <% elsif review.positive == false %>
        <%= image_tag('2/thumbsdown_off.PNG') %>
      <% end %>
      <%= truncate(review.body, length: 150) %><br><br>
      <%= image_tag('2/proof-dp.png') if review.proof.present? %>
      <%= image_tag('2/photo-upload.png') if review.image.present? %>
    <%= link_to "...read more", review_path(review) %><br>
      - <span class="offer-review-time"><%= time_ago_in_words(review.created_at) %> ago</span> | 
      <%= link_to review.buyer.name, user_path(review.buyer) %>
    <hr>
    <% end %>
    
  </div>

  <div class="col-xs-7 offer-center">
    <div id="offer-name">
      <%= @offer.name %>
    </div><hr>
    <div align="center">
      <%= image_tag(@offer.image, width: '480') %>
    </div>
    <hr><%= simple_format(@offer.description) %>
  </div>

  <div class="col-xs-2">
    <% if @offer.user.image_url.blank? %>
      <%= image_tag("1/user_no_image.PNG", class: 'img-thumbnail') %>
    <% else %>
      <%= image_tag(@offer.user.image_url(:thumb).to_s, class: 'img-thumbnail') %>
    <% end %><hr>
    <%= image_tag('1/user_verified.png') %>
    <strong><%= link_to @offer.user.name, user_path(@offer.user) %></strong><br><br>
    
    <% if user_signed_in? %>
      <% unless current_user == @offer.user %> 
        <%= form_for([@offer, @offer.conversations.build]) do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :offer_id, value: @offer.id %>
            <%= f.hidden_field :recipient_id, value: @offer.user.id %>
          <div class="actions"><%= f.submit "Contact", class: 'btn btn-warning' %></div>
        <% end %>
      <% end %>
    <% end %>
    
  </div>
  
</div>