<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @offer.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @offer.image %>
</p>

<p>
  <strong>Type:</strong>
  <%= @offer.type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @offer.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @offer.user %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %>