<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @endorsement.body %>
</p>

<p>
  <strong>Writer:</strong>
  <%= @endorsement.writer_id %>
</p>

<p>
  <strong>Endorsed:</strong>
  <%= @endorsement.endorsed_id %>
</p>

<%= link_to 'Edit', edit_endorsement_path(@endorsement) %> |
<%= link_to 'Back', endorsements_path %>
