<%= form_for(@phone_verification) do |f| %>
  <% if @phone_verification.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @phone_verification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="field">
        <b>Phone number:</b>
        <div class="input-group">
          <span class="input-group-addon">+</span>
          <%= f.number_field :number, class: "form-control devise", :required => true %>
        </div>
      </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
