<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @phone_verification.number %>
</p>

<p>
  <strong>User:</strong>
  <%= @phone_verification.user %>
</p>

<%= link_to 'Edit', edit_phone_verification_path(@phone_verification) %> |
<%= link_to 'Back', phone_verifications_path %>
