<%= form_for([@conversation, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= image_tag('2/thumbsup_off.PNG') %>
    <%= f.radio_button :positive, true, checked: true %> | 
    <%= image_tag('2/thumbsdown_off.PNG') %>
    <%= f.radio_button :positive, false %>    
  </div><br>
  <div class="field">
    <%= image_tag('2/writerevicon.png') %> Review:<br>
    <%= f.text_area :body, placeholder: 'Write your experience here', class: 'form-control review' %>
  </div><br>
  <div class="field">
    <%= image_tag('2/proof-dp.png') %>
    Proof that you have bought/delivered the offer<br>
    <%= f.text_area :proof, class: 'form-control review', placeholder: 'Write, post links, upload image below...' %>
  </div>
  <div class="field">
    <%= image_tag('2/photo-upload.png') %> <i>(optional)</i><br>
    <% if @review.image_url.present? %>
      <%= image_tag(@review.image_url(:thumb).to_s, width: '60', height: '60', class: 'img-thumbnail') %>
    <% end %>
    <%= f.file_field :image %>
  </div>

      <% if current_user.id == @conversation.user_id %>
        <%= f.hidden_field :buyer_id, value: current_user.id %>
        <%= f.hidden_field :seller_id, value: @conversation.recipient_id %>
      <% elsif current_user.id == @conversation.recipient_id %>
        <%= f.hidden_field :buyer_id, value: current_user.id %>
        <%= f.hidden_field :seller_id, value: @conversation.user_id %>
      <% end %>
    <%= f.hidden_field :offer_id, value: @conversation.offer.id %>
    <%= f.hidden_field :order_id, value: @conversation.orders.first.id %>
    <%= f.hidden_field :conversation_id, value: @conversation.id %>

  <div class="actions" align="right">
    <%= f.submit "Submit", class: 'btn btn-success', data: { disable_with: "Uploading..." } %>
  </div>
<% end %>