    <div class="col-xs-2">
      <%= link_to image_tag('logou8.png'), root_path %>
    </div>
  
    <div class="col-xs-5 header-search">
      <%= form_tag offerz_search_path, :method => :get do %>
       <%= text_field_tag :search, params[:search] , class: "form-control", autofocus: true %>  
      <% end %>
    </div>
  
    <div class="col-xs-1"></div>
      
    <div class="col-xs-4 user-header">

        <b><%= link_to "Create an offer", "/offers/new" %></b> | 
      
      <% if user_signed_in? %>
      <%= link_to image_tag('2/add_cred.png'), buycredit_path %><span class="badge alert-warning"><%= total_incoins %></span> | 
      <% end %>
      
      <%= link_to image_tag("1/messages3.png"), '/conversations' %>
      <% if Conversation.count_unread_conversations > 0 %>
        <span class="label label-danger"><%= Conversation.count_unread_conversations %></span>
      <% end %> |  
      
           <%= link_to image_tag('1/profile7.png'), user_path(current_user) %> | 
      
    </div>