  <div class="col-xs-1"></div>

  <div class="col-xs-3">
    <%= link_to image_tag('logo.PNG'), root_path %>
  </div>

  <div class="col-xs-7 login">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, placeholder: "email", class: "input-login" %>
    <%= f.password_field :password, autocomplete: "off", placeholder: "password", class: "input-login" %>
      <%= f.submit "Login", class: "btn btn-sm btn-primary" %>
    <% end %>
  </div>

  <div class="col-xs-1"></div>