<div class="row header">
   
    <div class="col-xs-2 logo">
      <span class="logospr"><%= link_to "", root_path %></span>
    </div>
  <div class="col-xs-10">
    <div class="col-xs-3 products">
      <% if user_signed_in? %>
        <%= link_to "Products", "/offers" %>
      <% else %>
        <%= link_to "Products", "/how" %>
      <% end %>
    </div>
    <div class="col-xs-3 services">
      <% if user_signed_in? %>
        <%= link_to "Services", "/services" %>
      <% else %>
        <%= link_to "Services", "/how" %>
      <% end %>
    </div>
    <div class="col-xs-3 jobs">
      <% if user_signed_in? %>
        <%= link_to "Jobs", "/works" %>
      <% else %>
        <%= link_to "Jobs", "/how" %>
      <% end %>
    </div>   
    <div class="col-xs-3 rent">
      <% if user_signed_in? %>
        <%= link_to "Rents", "/rents" %>
      <% else %>
        <%= link_to "Rents", "/how" %>
      <% end %>
    </div>
  </div>
</div>