    <div class="col-xs-2">
      <%= link_to image_tag('logo.PNG'), root_path %>
    </div>
  
    <div class="col-xs-5 header-search">
      <%= form_tag offerz_search_path, :method => :get do %>
       <%= text_field_tag :search, params[:search] , class: "form-control", autofocus: true %>  
      <% end %>
    </div>
  
    <div class="col-xs-2"></div>
      
    <div class="col-xs-3 user-header">

        <span id="header-create-offer"><%= link_to "Create an offer", "/offers/new" %></span> | 
      
      <% if user_signed_in? %>
      <span class="badge alert-warning incoins"><%= link_to total_incoins, buycredit_path %></span> | 
      <% end %>
      <span id="message-icon"><%= link_to "", '/conversations' %></span>
      <% if Conversation.count_unread_conversations > 0 %>
        <span class="label label-danger"><%= Conversation.count_unread_conversations %></span>
      <% end %> | 
       <span id="profile-icon"><%= link_to "", user_path(current_user) %></span> |
      
    </div>