    <div class="col-xs-2">
      <div class="logospr"><%= link_to "", root_path %></div>
    </div>
  
    <div class="col-xs-5 header-search">
      <%= form_tag offerz_search_path, :method => :get do %>
       <%= text_field_tag :search, params[:search] , class: "form-control", autofocus: true %>  
      <% end %>
    </div>
  
    <div class="col-xs-2"></div>
      
    <div class="col-xs-3 user-header">

        <span id="header-create-offer"><%= link_to "Create an offer", "/offers/new" %></span> | 
      
      <% if user_signed_in? %>
      <span class="badge alert-warning incoins"><%= link_to total_incoins, buycredit_path %></span> | 
      <% end %>
      <%= link_to image_tag('3/chat51.png'), '/conversations' %>
        <span class="label label-danger"><%= Conversation.count_unread_conversations %></span> | 
      <%= link_to image_tag('3/profile7.png'), user_path(current_user) %>
      
    </div>