<!DOCTYPE html>
<html>
<head>
  <%= metamagic %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "/favicon.ico" %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div id="wrapper">
    <%= yield %>
  </div>
</body>
</html>
